@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --p: #6366f1;
  --p-50:  color-mix(in srgb, var(--p) 10%, white);
  --p-100: color-mix(in srgb, var(--p) 20%, white);
  --p-200: color-mix(in srgb, var(--p) 35%, white);
  --p-400: color-mix(in srgb, var(--p) 65%, white);
  --p-600: color-mix(in srgb, var(--p) 85%, black);
  --p-700: color-mix(in srgb, var(--p) 70%, black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
